PUBLIC_SITE_URL=https://sisyphus-gamedev-studio.github.io
PUBLIC_WEB3FORMS_ACCESS_KEY=your_access_key_from_web3forms.com
PUBLIC_YOUTUBE_URL=https://www.youtube.com/
PUBLIC_STEAM_URL=https://store.steampowered.com/app/YOUR_APP_ID
PUBLIC_DONATE_URL=https://boosty.to/
PUBLIC_CAREERS_FORM_URL=https://forms.gle/
PUBLIC_CONTACT_EMAIL=mail@gmail.com
