PUBLIC_SITE_URL=https://sisyphus-gamedev-studio.github.io
PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/YOUR_FORM_ID
PUBLIC_STEAM_URL=https://store.steampowered.com/app/YOUR_APP_ID
PUBLIC_DONATE_URL=https://boosty.to/sisyphus.studio
PUBLIC_CAREERS_FORM_URL=https://forms.gle/iHn919TyKMPFhaYL8
PUBLIC_CONTACT_EMAIL=sisyphus.gamedev.studio@gmail.com
